{% extends 'base.html' %}

{% block content %}
<section class="goals container mb-5 pb-sm-5 pb-0" id="contact">
      <h2 class="h2 font-weight-bold my-4">Сотрудничество</h2>
      <div class="row">
        <div class="col-12 col-sm-8 pb-1">
          <p class="pb-1 mb-1">Мне было бы интересно:</p>
          <ul class="list-unstyled mb-4">
            <li class="d-flex align-items-center align-content-start m-2" style="line-height: 24px;">
              <span class="pr-1">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
              </span>
              <span>Найти стажировку в большой компании с наставником</span>
            </li>
            <li class="d-flex align-items-center align-content-start m-2" style="line-height: 24px;">
              <span class="pr-1">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
              </span>
              <span>Поучаствовать в хакатоне как backend-разработчик</span>
            </li>
            <li class="d-flex align-items-center align-content-start m-2" style="line-height: 24px;">
              <span class="pr-1">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
              </span>
              <span>Принять участие в общественно-полезном проекте</span>
            </li>
            <li class="d-flex align-items-center align-content-start m-2" style="line-height: 24px;">
              <span class="pr-1">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
              </span>
              <span>Попробовать разработать бэкенд мобильного приложения</span>
            </li>
          </ul>
          <div class="row">
            <div class="col-12 col-sm-9">
              <p class="d-flex justify-content-between flex-wrap">
                <a href="https://www.linkedin.com/in/timur-lakoba-a413b2198/" class="btn btn-primary mb-3" target="_blank">Написать в Linkedin</a>
                <a href="https://teleg.run/becejlka" class="btn btn-info mb-3" target="_blank">Написать в Telegram</a>
                <a href="mailto:timurlakoba@gmail.com" class="btn btn btn-dark mb-3" target="_blank">Написать на почту</a>
              </p>
            </div>
          </div>
        </div>
      </div>
</section>
{% endblock %}