{% extends 'base.html' %}

{% block content %}
    <section class="goals container mb-5 pb-sm-5 pb-0">
      <div class="row py-0 py-sm-5">
          <div class="col-12 col-lg-8 offset-lg-2 mb-0 mb-sm-5 py-5">
            <h1 class="h1 font-weight-bold font-color-green mb-4">Привет! Меня зовут Тимур</h1>
            <p class="promo-text pb-3">Я&nbsp;&mdash; Junior developer, изучаю Python и&nbsp;Flask, хочу научиться делать качественный бэкэнд,  найти работу и новых друзей</p>
            <a href="/contact/" class="btn btn-success btn-orange">Написать мне</a>
          </div>
        </div>
      </div>
    </section>
{% endblock %}