{% extends 'base.html' %}

{% block content %}
    <section class="story container py-5 text-center">
      <h2 class="h1 font-weight-bold mt-4 mb-3 mb-sm-5 pb-3">Моя история</h2>
      <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 px-2 pb-5">
          <p class="font-weight-bold pb-4">Раньше я работал в сфере обслуживания автомобилей, теперь решил попробовать себя в&nbsp;разработке,<br> прошел <a href="https://stepik.org/course/67/info" class="story-link" target="_blank">курс по основам Python на Stepik</a> <br> а так же&nbsp;<a href="https://stepik.org/course/61900/info" class="story-link" target="_blank">курс по&nbsp;Flask на&nbsp;Stepik</a></p>
          <p class="pb-4">Я&nbsp;занимаюсь разработкой простых сервисов и&nbsp;скриптов, телеграм-ботов создаю REST API и&nbsp;знаю основы HTML. В&nbsp;работе мне нравится использовать фреймворки Flask и&nbsp;Bootstrap.</p>
        </div>
      </div>
    </section>
{% endblock %}